:root {
  --clr-bckgrnd-grey: #1C1E1F;
  --clr-lighter-grey: #2D3032;
  --clr-footer-grey: #9999;
  --clr-yellow: #ECD82F;
  --clr-white: #fff;
  --clr-home-grey: #bfbebe99;
}

* {
  font-family: "Raleway", sans-serif;
}

/* nav */

.nav-cont {
  background-color: var(--clr-bckgrnd-grey);
  color: white;
  flex-direction: row !important;
  justify-content: space-between;
  padding: 3%;
  height: 20vh;
  position: relative;
}

.navigation-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.nav-link {
  font-size: 2.5vh !important;
}

.logo-cont {
  display: flex;
  align-items: center;
}

.cat-tinder-logo {
  width: 8vw;
  margin-left: 25%;
}

.hider {
  position: absolute;
  bottom: -3vh;
  background-color: var(--clr-bckgrnd-grey);
  height: 5vh;
  width: 100%;
}

/* footer */

.footer-text {
  color: var(--clr-footer-grey);
  display: flex;
  justify-content: end;
  position: fixed;
  bottom: 1vh;
  right: 2vw;
  font-size: 2.5vh;
}

/* pages */

/* 404 */
.not-found-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  /* height: 80vh */
}

/* home */
.home-cont {
  background-color: var(--clr-bckgrnd-grey);
  position: relative;
  height: 80vh;
}

.home-title {
  color: var(--clr-yellow);
  position: absolute;
  top: 8vh;
  left: 28vw;
  font-size: 14vh;
  font-weight:800;
  letter-spacing: 10px;
  z-index: 1;
  text-shadow: 10px 15px 1px rgba(0, 0, 0, 0.5);
}

.home-sub-title {
  color: var(--clr-home-grey);
  position: absolute;
  top: 45vh;
  left: 28vw;
  font-size: 3.5vh;
}

.home-hero-image {
  position: absolute;
  top: -4vh;
  right: 20vw;
  width: 25vw;
  border-radius: 20vh;
}

/* index */
.cat-index-cont {
  margin-top: 30px;
  background-color: var(--clr-bckgrnd-grey);
  position: relative;
}

.index-title {
  color: var(--clr-yellow);
  text-align: center;
  font-size: 12vh;
  font-weight:800;
  letter-spacing: 10px;
  text-shadow: 10px 15px 1px rgba(0, 0, 0, 0.5);
}