:root {
  --clr-bckgrnd-grey: #1C1E1F;
  --clr-lighter-grey: #2D3032;
  --clr-footer-grey: #9999;
  --clr-yellow: #ECD82F;
  --clr-white: #fff;
  --clr-home-grey: #bfbebe99;
}

* {
  font-family: "Raleway", sans-serif;
}

.buttons {
  border: 1px solid var(--clr-bckgrnd-grey);
  background-color: var(--clr-white);
  border-radius: 1vh;
  font-weight: 700;
  height: 4vh;
  width: 8vw;
  font-size: 2dvh !important;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
}

.buttons:hover {
  .arrow-right {
    opacity: 1;
    display: inline;
    transition: opacity 0.3s ease;
  }
}

.arrow-right {
  display: none;
  opacity: 0;
}

/* nav */

.nav-cont {
  background-color: var(--clr-bckgrnd-grey);
  color: white;
  flex-direction: row !important;
  justify-content: space-between;
  padding: 1.5% 2.5%;
  height: 10dvh;
  position: relative;
}

.navigation-links {
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 1.8vw;
  height: fit-content;
}

.nav-link {
  height: fit-content;
  font-size: 2.5vh !important;
}

.nav-link:hover {
  color: var(--clr-home-grey) !important;
}

.logo-cont {
  display: flex;
  align-items: center;
}

.cat-tinder-logo {
  position: absolute;
  width: 4vw;
  top: 0.5vh;
  left: 2vw;
  z-index: 2;
}

.speech-bubble-image {
  position: absolute;
  width: 6vw;
  top: -1.8vh;
  left: 5.5vw;
  z-index: 2;
}

.hider {
  position: absolute;
  bottom: -0.5vh;
  background-color: var(--clr-bckgrnd-grey);
  height: 1vh;
  width: 100%;
}

/* footer */

.footer-text {
  color: var(--clr-footer-grey);
  display: flex;
  justify-content: end;
  position: fixed;
  bottom: 0.9vh;
  right: 1.5vw;
  font-size: 2vh;
}

.github-links {
  color: var(--clr-home-grey);
  text-decoration: none;
}

/* pages */

/* 404 */
.not-found-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

/* home */
.home-cont {
  background-color: var(--clr-bckgrnd-grey);
  position: relative;
  height: calc(100dvh - 10dvh);
}

.home-title {
  color: var(--clr-yellow);
  position: absolute;
  top: 18vh;
  left: 28vw;
  font-size: 14vh;
  font-weight:800;
  letter-spacing: 0.7vw;
  z-index: 1;
  text-shadow: 0.75vw 1.5vh 1px rgba(0, 0, 0, 0.5);
}

.home-sub-title {
  color: var(--clr-home-grey);
  position: absolute;
  top: 55vh;
  left: 28vw;
  font-size: 3.5vh;
}

.home-sub-title:hover {
  cursor: pointer;
  .home-arrow-icon {
    color: var(--clr-yellow);
  }
}

.home-sub-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1vh;
  width: 0;
  height: 0.25vh; 
  background-color: var(--clr-yellow);
  transition: width 0.3s ease;
}

.home-sub-title:hover::after {
  width: 91.5%;
}

/* .home-hero-image {
  position: absolute;
  top: 10vh;
  right: 19vw;
  width: 25vw;
  border-radius: 16vh;
  transition: transform 0.5s ease;
} */

.home-hero-image-shadow {
  position: absolute;
  top: 7vh;
  right: 17vw;
  width: 25vw;
  border-radius: 16vh;
  opacity: 15%;
  transition: transform 0.5s ease;
}

.home-hero-image {
  position: absolute;
  top: 10vh;
  right: 19vw;
  width: 25vw;
  border-radius: 16vh;
  transition: transform 0.5s ease;
}

.home-hero-image.active {
  transform: translateX(0);
}

.home-hero-image.inactive {
  transform: translateX(900%);
}

.home-hero-image-shadow.inactive {
  transform: translateX(900%);
}


.accent-hero-image {
  position: absolute;
  width: 100vh;
  z-index: 1;
  top: -20vh;
  left: -5vw;
  opacity: 8%;
}

.home-arrow-icon {
  font-size: 3.5vh;
}

/* index */

.card-title {
  font-size: 3vh;
  color: var(--clr-bckgrnd-grey) !important;
}

.cat-index-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4dvw;
  padding: 7vh 5vw;
}

.index-cont {
  background-color: var(--clr-bckgrnd-grey);
  min-height: calc(100dvh - 10dvh);
  display: flex;
  flex-direction: column;
}

.index-title {
  color: var(--clr-white);
  text-align: center;
  font-size: 7vh;
  font-weight: 600;
  letter-spacing: 5px;
  text-shadow: 0.25vw 0.25vh 1px rgba(236, 214, 31, 0.5);
}

.profile-image-cont {
  display: flex;
  justify-content: center;
  height: 50%;
  padding: 1vh 0.5vw;
  background-color: var(--clr-white);
  border-top-left-radius: 5vh;
  border-top-right-radius: 5vh;
}

.profile-image {
  max-height: 15vh;
  max-width: 15vw;
  border: var(--clr-white) 0.6dvh solid;
  border-radius: 999px;
  position: absolute;
}

.upper-card-background {
  width: 100%;
  height: 10vh;
  background-image: linear-gradient(to right, var(--clr-white) , var(--clr-yellow));
  position: absolute;
  top: 0vh;
  border-top-left-radius: 3.8vh;
  border-top-right-radius: 3.8vh;
}

.index-heart-and-btn {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 2.5vh;
}

.heart-icon {
  cursor: pointer;
  margin-right: 10px;
  color: #FF5252;
  font-size: 3.5vh;
  transition: color 0.3s ease;
}

/* show */

.cat-profile-cont {
  border: 5.5vh solid var(--clr-bckgrnd-grey);
  min-height: calc(100dvh - 10dvh);
  position: relative;
  overflow: hidden;
}

.left-half {
  position: absolute;
  width: 100%;
  height: 100dvh;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 1;
  width: 35dvw;
  border-top-right-radius: 5vh;
  animation: slideOutLeft 0.5s ease;
}

.background-image {
  position: absolute;
  width: 100dvw;
}

.show-profile-image {
  position: absolute;
  left: 10.5vw;
  top: 5vh;
  height: 37vh;
  z-index: 2;
  border-radius: 5vh;
  border: 1px solid var(--clr-bckgrnd-grey);
  animation: slideOutLeft 0.5s ease;
}

.show-text {
  position: absolute;
  z-index: 2;
  left: 10.5vw;
  bottom: 7vh;
  animation: slideOutLeft 0.8s ease;
  width: 16vw;
}

.show-icon {
  color: var(--clr-bckgrnd-grey);
  height: 3dvh;
}

.show-icons {
  display: flex;
  gap: 2vw;
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


/* Edit and New  */

.cat-new-title {
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 3vh;
  font-size: 5vh;
  font-weight: 600;
  letter-spacing: 5px;
}

.cat-edit-title {
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 3vh;
  font-size: 5vh;
  font-weight: 600;
  letter-spacing: 5px;
}

.form-cont {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  font-size: 2vh;
  font-weight: 400;
}

.form-buttons {
  color: white;
  border: none;
  width: 8vw;
  border-radius: 1vh;
}

.form-buttons:hover{
  opacity: 50%;
}

