:root {
  --clr-bckgrnd-grey: #1C1E1F;
  --clr-lighter-grey: #2D3032;
  --clr-footer-grey: #9999;
  --clr-yellow: #ECD82F;
}

* {
  font-family: "Raleway", sans-serif;
}

/* nav */

.nav-cont {
  background-color: var(--clr-bckgrnd-grey);
  color: white;
  flex-direction: row !important;
  justify-content: space-between;
  padding: 1.25rem;
}

.navigation-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.cat-tinder-logo {
  width: 5rem;
  margin-left: 1.25rem;
}

/* footer */

.footer-text {
  color: var(--clr-footer-grey);
  display: flex;
  justify-content: end;
  position: absolute;
  bottom: 0;
  right: 1rem;
}

/* 404 */
.houston-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
